.logo {
  height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin-top: 4rem;
  text-align: center;
}
.BIM {
  color: rgb(116, 116, 116);
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login,
#register {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#addGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-btn {
  background-color: white;
  font-weight: 600;
  padding: 0.5rem;
  margin: 1rem;
}
label,
input {
  width: 20rem;
  height: 2rem;
}
label {
  font-weight: 600;
}
input {
  margin-bottom: 1rem;
}
.link_to_login_page {
  color: black;
  text-decoration: none;
}
.link_to_login_page:hover {
  color: rgb(116, 116, 116);
  text-decoration: underline;
}

/* Groups page CSS */
.posts {
  display: flex;
  margin: 2rem;
}
.post {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border: 2px solid rgb(175, 173, 173);
  border-radius: 0.5rem;
}
.post p {
  margin: 0.5rem;
  font-weight: 1000;
  font-size: 2rem;
}
.post h2 {
  color: rgb(175, 173, 173);
}
.SYG {
  margin-top: 5rem;
}
.posts article {
  cursor: pointer;
}
